<table class="Aside__table Aside__table--upcoming">
    <tbody n:inner-foreach="$matches as $match">
    <tr>
        <td><a href={plink Match:detail $match}>{$match->homeTeam->name}</a></td>
        <td>
            <a href="{plink Match:detail $match}">
                {if $match->hasStarted()}
                    {$match->scoreHome|padLeft:2, ' '}:{$match->scoreAway|padRight:2, ' '}
                {else}
                    {$match->matchTerm|matchStart}
                {/if}
            </a>
        </td>
        <td><a href={plink Match:detail $match}>{$match->awayTeam->name}</a></td>
    </tr>
    </tbody>
</table>