{var $hasLocation = (bool) (count($matches) && $matches[0]->matchTerm->location)}

<div class="Box__content Table__content">
    <table n:class="Table,Table__matches,$hasLocation?Table__matches--with-location">
        <thead class="Box__subhead Article__subhead">
        <tr>
            <th>Domácí</th>
            <th>Skóre</th>
            <th>Hosté</th>
            {if $hasLocation}
                <th>Hřiště</th>
            {/if}
            <th>Začátek</th>
            <th>Datum</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {foreach $matches as $match}
            {if isset($team)}
                {if $team->id == $match->homeTeam->id}
                    {*is home*}
                    <tr onclick="window.location = {plink Match:detail $match};" n:class="$match->isDraw() ? 'Table__matches--draw',
                                $match->isWinner($team) ? 'Table__matches--win',
                                $match->isLoser($team) ? 'Table__matches--loss'">
                        <td>
                            {$match->homeTeam->name}
                        </td>
                        <td>
                            {$match->scoreHome} : {$match->scoreAway}
                        </td>
                        <td>
                            {$match->awayTeam->name}
                        </td>
                        {if $hasLocation}
                            <td>{$match->matchTerm->location}</td>
                        {/if}
                        <td>
                            {$match->matchTerm|matchStart}
                        </td>
                        <td>
                            {$match->matchTerm|matchDate}
                        </td>
                        <td>{if $match->facebookVideoId}{include "../../@icons/movie.svg"}{/if}</td>
                {else}
                    {*is away*}
                    <tr onclick="window.location = {plink Match:detail $match};" n:class="$match->isDraw() ? 'Table__matches--draw',
                                $match->isWinner($team) ? 'Table__matches--win',
                                $match->isLoser($team) ? 'Table__matches--loss'">
                        <td>
                            {$match->awayTeam->name}
                        </td>
                        <td>
                            {$match->scoreHome} : {$match->scoreAway}
                        </td>
                        <td>
                            {$match->homeTeam->name}
                        </td>
                        {if $hasLocation}
                            <td>{$match->matchTerm->location}</td>
                        {/if}
                        <td>
                            {$match->matchTerm|matchStart}
                        </td>
                        <td>{$match->matchTerm|matchDate}</td>
                        <td>{if $match->facebookVideoId}{include "../../@icons/movie.svg"}{/if}</td>
                    </tr>
                {/if}
            {else}
                {*not known - default*}
                <tr onclick="window.location = {plink Match:detail $match};">
                    <td>{$match->homeTeam->name}</td>
                    <td>
                        {$match->scoreHome} : {$match->scoreAway}
                    </td>
                    <td>{$match->awayTeam->name}</td>
                    {if $hasLocation}
                        <td>{$match->matchTerm->location}</td>
                    {/if}
                    <td>
                        {$match->matchTerm|matchStart}
                    </td>
                    <td>{$match->matchTerm|matchDate}</td>
                    <td>{if $match->facebookVideoId}{include "../../@icons/movie.svg"}{/if}</td>
                </tr>
            {/if}
        {/foreach}
        </tbody>
    </table>
</div>