<div class="Article">
    <div class="Article__head Box__head">
        <div class="Article__head__icon Box__head__icon icon__matches">
        </div>
        <div class="Article__head__text Box__head__text">Zápasy</div>
    </div>
    <div class="Box__content Table__content">
        <table class="Table Table__matches">
            <thead class="Box__subhead Article__subhead">
                    <tr>
                        <th>Domácí tým</th>
                        <th>Scóre</th>
                        <th>Hostující tým</th>
                        <th>Začátek</th>
                        <th>Datum</th>
                    </tr>
            </thead> 
        <tbody>
            <tr class="Table__matches--win">
                <td>Praha Chodov</td>
                <td>20:28</td>
                <td>Zora Olomouc</td>
                <td>13:30</td>
                <td>22.5</td>
            </tr>

            <tr class="Table__matches--loss">
                <td>Praha Chodov</td>
                <td>20:28</td>
                <td>Zora Olomouc</td>
                <td>13:30</td>
                <td>22.5</td>
            </tr>

            <tr class="Table__matches--draw">
                <td>Praha Chodov</td>
                <td>20:28</td>
                <td>Zora Olomouc</td>
                <td>13:30</td>
                <td>22.5</td>
            </tr>


            {foreach $matches as $match}
                <tr n:class="isset($team) && $match->isWinner($team) ? win, isset($team) && $match->isLoser($team) ? lose, $match->isDraw() ? draw">
                    <td><a n:tag-if="!isset($team) || $match->homeTeam->id != $team->id" href="{plink Team:detail $match->category, $match->homeTeam}">{$match->homeTeam->name}</a></td>
                    <td>{$match->scoreHome} : {$match->scoreAway}</td>
                    <td><a n:tag-if="!isset($team) || $match->awayTeam->id != $team->id" href="{plink Team:detail $match->category, $match->awayTeam}">{$match->awayTeam->name}</a></td>
                    <td>{$match->matchTerm|matchStart}</td>
                    <td>{$match->matchTerm|matchDate}</td>
                </tr>
            {/foreach}
        </tbody>
        </table>
    </div>
</div>