{* <ul n:inner-foreach="array_keys($days) as $timestamp">
    <li n:class="$iterator->first?active"><a data-toggle="tab" href="#{$timestamp}">{$timestamp|date: "j. n. Y"}</a>
    </li>
</ul> *}
<div class="tab-content">
    <div n:foreach="$days as $timestamp => $matches"
         n:class="Box__content, Table__content, tab-pane, $iterator->first?active" id="{$timestamp}">
        <table class="Table Table__matches">
            <thead class="Box__subhead Article__subhead">
            <tr>
                <th>Domácí tým</th>
                <th>Scóre</th>
                <th>Hostující tým</th>
                <th>Začátek</th>
                <th>Datum</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$matches as $match">
                <td><a href="{plink Team:detail $match->category, $match->homeTeam}">{$match->homeTeam->name}</a></td>
                <td>{$match->scoreHome} : {$match->scoreAway}</td>
                <td><a href="{plink Team:detail $match->category, $match->awayTeam}">{$match->awayTeam->name}</a></td>
                <td>{$match->matchTerm|matchStart}</td>
                <td>{$match->matchTerm|matchDate}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
