<div class="Article__head Box__head--toggle">
    <div class="Article__head__icon Box__head--toggle__icon icon__matches">
    </div>
    <div class="Article__head__text Box__head--toggle__text">Zápasy</div>
    <ul class="Article__head__select Box__head--toggle__select" n:inner-foreach="array_keys($days) as $timestamp">
        <li n:class="$control->isToday($timestamp) ?active"><a data-toggle="tab"
                                                               href="#{$timestamp}">{$timestamp|dayName}</a></li>
    </ul>
    <script>
        jQuery(function () {
            if ($('ul.Article__head__select').find('.active').length === 0) {
                $('ul.Article__head__select li:first-child').addClass('active');
            }
            if ($('.tab-content').find('.active').length === 0) {
                $('.tab-content .tab-pane:first-child').addClass('active');
            }
        });
    </script>
</div>
<div class="tab-content">
    <div n:foreach="$days as $timestamp => $_matches"
         n:class="Box__content, Table__content, tab-pane, $control->isToday($timestamp) ?active" id="{$timestamp}">
        <table class="Table Table__matches">
            <thead class="Box__subhead Article__subhead">
            <tr>
                <th>Domácí tým</th>
                <th>Scóre</th>
                <th>Hostující tým</th>
                <th>Začátek</th>
                <th>Datum</th>
            </tr>
            </thead>
            <tbody>
            <tr n:foreach="$_matches as $match">
                <td><a href="{plink Team:detail $match->category, $match->homeTeam}">{$match->homeTeam->name}</a></td>
                <td>{$match->scoreHome} : {$match->scoreAway}</td>
                <td><a href="{plink Team:detail $match->category, $match->awayTeam}">{$match->awayTeam->name}</a></td>
                <td>{$match->matchTerm|matchStart}</td>
                <td>{$match->matchTerm|matchDate}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
