# IDE folders
/nbproject/
/.idea/

# temp folders
/temp/*
/log/*
/www/temp/*

# composer
/vendor/

# compiled css file
/assets/css/index.css

# local configuration
config.local.neon

# compiler cache
/assets/.sass-cach

# compiler cache
www/assets/.sass-cache

# map files	
www/assets/css
