# IDE folders
nbproject/
.idea/

# temp folders
temp/*
log/*
www/webtemp/*

# composer
vendor/

# local configuration
config.local.neon

# compiler cache
.sass-cache


# media uploads
www/media/*
!www/media/.htaccess


node_modules/