# IDE folders
nbproject/
.idea/

# temp folders
temp/*
log/*
www/webtemp/*

# composer
vendor/

# compiled main css file
www/assets/css/index.css

# local configuration
config.local.neon

# compiler cache
www/assets/.sass-cach

# compiler cache
www/assets/.sass-cache

# map files
*.map.*

# media uploads
www/media/*
*.map

www/assets/css/grid-settings.css

www/assets/css/grid-settings.css
