{extends '../@layout.latte'}
{block body}
    <h2>front @layout</h2>
<pre>
<a n:href="Team:list $category">Týmy</a>
<a n:href="Match:list $category">Zápasy</a>
</pre>
<h2>Content block</h2>
{block content}{/}
{/}

{block login}{control loginForm}{/}