{block content}
    <div class="Article">
        <div class="Article__head Box__head">
            <div class="Article__head__icon Box__head__icon icon__photo"></div>
            <div class="Article__head__text Box__head__text">Fotogalerie</div>
        </div>
        <a n:href="tags">Interaktivní výběr</a>
        <br>
        Hlavní kategorie:
        {foreach $tags as $tag}
            <a href={plink Gallery:detail $tag}>{$tag->slug}</a>
            <br>
        {/foreach}
    </div>
{/block}