{block content}
	<div class="Article">
		<div class="Article__head Box__head">
			    <div class="Article__head__icon Box__head__icon icon__teams">
	    </div>
	    <div class="Article__head__text Box__head__text">Sponzoři</div>
		</div>
	    <div class="Box__content Sponzors__content">
	    	<ul n:inner-for="$i=0; $i<16; $i++">
	    		<li class="Sponsors__images">test</li>
	    	</ul>
	    </div>
	</div>
{/block}