{block content}
    {cache $category->cacheTag, tags => $category->cacheTag}
        {control listOfMatchesComponent-$category->slug}
    {/cache}
{/block}

{block title}Zápasy kategorie {$category->name}{/block}

