{block outerContent}
    {* TODO: fix cache of photos *}
    {cache $team->cacheTag, tags => $team->cacheTag}
        {control teamDetailComponent}
    {/cache}
{/block}
{block title}{$team->name} - {$team->category->name}{/block}