{block content}
    {ifset $category}
        <h3>Seznam týmů pro kategorii {$category->name}</h3>
        {control listOfTeamsComponent-$category->slug}
    {else}
        {foreach $categories as $category}
            <h3>Seznam týmů pro kategorii {$category->name}</h3>
	            {control listOfTeamsComponent-$category->slug}
	    {/foreach}
    {/ifset}
{/block}
