{block outerContent}
    {cache $team->cacheTag, tags => $team->cacheTag}
    {control teamDetailComponent}
    {/cache}
{/block}
{block title}{$team->name} - {$team->category->name}{/block}
{block ogImage}
    {if $team->tag && $team->tag->mainPhoto}
        {$team->tag->mainPhoto|ogImage}
    {else}
        {include parent}
    {/if}
{/block}