<div class="component">
    <table>
        <tr>
            <th>pořadí</th>
            <th>jméno</th>
            <th>skóre</th>.
            <th>body</th>
        </tr>
        {foreach $teams as $team}
            <tr>
                <td>{$team->order}</td>
                <td><a href={plink Team:detail $team->category, $team}>{$team->name}</a></td>
                <td>{$team->scored}:{$team->received}</td>
                <td>{$team->points}</td>
            </tr>
        {/foreach}
    </table>
</div>