<div class="Box__subhead Article__subhead">
    <table class="Table Table__standings">
        <thead>
        <tr>
            <th>Pořadí</th>
            <th>Tým</th>
            <th>Z</th>
            <th>VY</th>
            <th>R</th>
            <th>P</th>
            <th>VS</th>
            <th>O</th>
            <th>B</th>
        </tr>
        </thead>
    </table>
</div>


<div class="Box__content Table__content">
    <table class="Table Table__standings">
        <tbody>
        {foreach $teams as $team}
            <tr>
                <td>{$team->order}</td>
                <td><a href={plink Team:detail $team->category, $team}>{$team->name}</a></td>
                <td>{$team->playedMatches|length}</td>
                <td>{$team->wins|length}</td>
                <td>{$team->draws|length}</td>
                <td>{$team->loses|length}</td>
                <td>{$team->scored}</td>
                <td>{$team->received}</td>
                <td>{$team->points}</td>
            </tr>
        {/foreach}
        </tbody>
    </table>
</div>