<div class="Box__subhead Article__subhead">
        <table>
            <thead>
                <th>Domácí tým</th>
                <th>Scóre</th>
                <th>Hostující tým</th>
                <th>Začátek</th>
                <th>Datum</th>
            </thead>
        </table>
</div>

<div class="Box__content">
    <table>
        {foreach $teams as $team}
            <tr>
                <td>{$team->order}</td>
                <td><a href={plink Team:detail $team->category, $team}>{$team->name}</a></td>
                <td>{$team->scored}:{$team->received}</td>
                <td>{$team->points}</td>
            </tr>
        {/foreach}
    </table>
</div>