{snippet tag-form}
{form tagForm class=>"form-inline ajax"}
    <h4>Nový tag:</h4>
    <div class="form-group">
        {input name class=>"form-control"}{input submit class=>"form-control btn btn-primary"}
    </div>
{/form}
{/snippet}