{block content}
<link href="https://raw.githubusercontent.com/o5/grido/master/client-side/grido.css" />
<script src="https://raw.githubusercontent.com/o5/grido/master/client-side/grido.js"></script>
<h2>Uživatelé</h2>
{control grid}