{block content}
<script src="{$basePath}/js/grido.js"></script>
<script src="{$basePath}/js/grido.ext.js"></script>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="{$basePath}/css/grido.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<h2>Uživatelé</h2>
{if $user->isAllowed('users', 'view')}
    {control grid}
{else}
    Bohužel si nemůžete zobrazit seznam uživatelů.
{/}