{block content}
    <h2>Uživatelé</h2>
    {if $user->isAllowed('user', 'view')}
        {control userGrid}
    {else}
        <div class="alert alert-danger">
            Bohužel si nemůžete zobrazit seznam uživatelů.
        </div>
    {/if}

    {if $user->isAllowed('user', 'add')}
        <h2>Přidat uživatele</h2>
        {control userForm}
    {else}
        <div class="alert alert-danger">
            Přidávat uživatele bohužel nemůžete.
        </div>
    {/if}
{/block}