<!DOCTYPE html>
<html lang="cs">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {control css}
        {control js}
        <title></title>
    </head>
    <body>
    <!-- TODO: templates! -->
    <div n:foreach="$flashes as $flash" class="flash">
        <p>{$flash->message}</p>
    </div>
    {block body}{/block}

    {block login}{/block}
    </body>
</html>
