<!DOCTYPE html>
<html lang="cs">
<head n:inner-block="head">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title n:snippet="title">{ifset title}{include title|stripHtml} | {/ifset} MINICUP {$category->year->slug}</title>

    {block seo}
        <!-- SEO -->
        <meta property="description"
              content="Miniházenkářský turnaj Litovel MINICUP {$category->year->slug} s informačním servisem včetně živých přenosů, fotek týmů a podrobných statistik.">
        <meta property="keywords" content="litovel,hanacke,benatky,minihazena,hazena,tatran,extraliga,minicup">
        <meta property="author" content="Josef Kolář, Matěj Mitaš">
        {block og}
            <!-- OG -->
            <meta property="fb:app_id" content="1709323006015727">
            <meta property="og:type" content="website">
            <meta property="og:site_name" content="Litovel MINICUP">
            <meta property="og:description"
                  content="Miniházenkářský turnaj Litovel MINICUP {$category->year->slug} s informačním servisem včetně živých přenosů, fotek týmů a podrobných statistik.">
            <meta property="og:url" content="{$absoluteUrl}">
            <meta property="og:title" content="{ifset title}{include title|stripHtml} | {/ifset}MINICUP {$category->year->slug}">
            {block ogImage}
                <meta property="og:image" content="{$baseUri}/assets/img/og_image.png">
                <meta property="og:image:width" content="860">
                <meta property="og:image:height" content="860">
            {/block}
        {/block}
    {/block}

    {block favicon}
        <link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/assets/favicon/apple-touch-icon.png?v=E65n5YvEwbs">
        <link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/assets/favicon/favicon-32x32.png?v=E65n5YvEwbs">
        <link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/assets/favicon/favicon-16x16.png?v=E65n5YvEwbs">
        <link rel="manifest" href="{$basePath}/assets/favicon/site.webmanifest?v=E65n5YvEwbs">
        <link rel="mask-icon" href="{$basePath}/assets/favicon/safari-pinned-tab.svg?v=E65n5YvEwbs" color="#00339a">
        <link rel="shortcut icon" href="{$basePath}/assets/favicon/favicon.ico?v=E65n5YvEwbs">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="{$basePath}/assets/favicon/browserconfig.xml?v=E65n5YvEwbs">
        <meta name="theme-color" content="#ffffff">
        <meta name="application-name" content="Litovel MINICUP">
        <meta name="apple-mobile-web-app-title" content="Litovel MINICUP">

    {/block}
    {if !isset($productionMode) || (isset($productionMode) && $productionMode)}
        <script src="{$basePath}/assets/js/hotjar.js"></script>
    {/if}
</head>
<body>
{block body}{/block}
</body>
</html>
