{extends '../../templates/@baseLayout.latte'}
{block body}
    front @layout
    {block content}{/}
<pre>
<a n:href="Team:default">Týmy</a>
    <a n:foreach="$categories as $category" n:href="Team:default $category">Týmy {$category->name}</a>

</pre>
{/}