{extends '../../templates/@baseLayout.latte'}
{block body}
    front @layout
    {block content}{/}
    <div style="float: right;">
        <a n:href=":Admin:Homepage:">Administrace</a>
        {control loginForm}
    </div>
{/}