section {
	margin-top: $universal-dis;
	@include span-columns(8);
	background: $light--grey;
	font-family: "PTRegular";
}


.head--abs {
	height: 4rem;
}

.head--abs h2 {
	font-family: 'Montserrat';
	font-size: 18px;
	padding: 25px;
}


.article__head {
	color: white;
	background: $medium--grey;
}

.head--abs h2:before {
	margin-right: 20px;
	content: "\2605";
}

.article__heading {
	font-family: "Montserrat";
	font-size: 30px;
	padding: 20px 10px 20px 20px;
}

.article__date {
	font-family: "PTBoldItalic";	
	padding: 0px 20px;
}

.article__body {
	font-family: "PTRegular";
	padding: 20px 10px 30px 20px; 
	font-size: 16px;
}