.Article__head {
	color: white;
	background: $medium--grey;
}

.Article__heading {
	font-family: "Montserrat";
	font-size: 30px;
	padding: 15px 0;
}

.Article__date {
	font-family: "PTBoldItalic";	
	padding: 10px 0;
}

.Article__content {
	font-family: "PTRegular";
	padding: 10px 0; 
	font-size: 16px;
}