.Article {
	&__head {

		&__icon {
			background: $medium--grey;
		}

		&__text {
			background: $medium--grey;
			color: white;
		}
	}

	&__heading {
		font-family: "Montserrat";
		font-size: 34px;
		letter-spacing: -1.5px;
	}

	&__date {
		font-family: "PTBoldItalic";	
		padding-top: 10px;

	}

	&__content {
		font-family: "PTRegular";
		padding-top: 15px;
		padding-bottom: 30px;
		font-size: 16px;
	}
}
