.Aside {
	margin-top: $universal-dis;
	background: $light--yellow;
	@include span-columns(5);
	@include omega();
	
	&__head {
		background: $dark--yellow;
	}


	&__subhead {
		background: $medium--yellow;
	}

	&__list--rank {@include span-columns(0.5 of 4);}
	&__list--team {@include span-columns(2.25 of 4);}
	&__list--score {@include span-columns(0.75 of 4);}
	&__list--points {@include span-columns(0.5 of 4);}

	li {text-align: left;}
}
