.Aside {
	margin-top: $universal-dis;
	background: $light--yellow;
	@include span-columns(5);
	@include omega();
	
	&__head {
		letter-spacing: -1.5px;

		&__icon {
			background: $medium--yellow;
		}

		&__text {
			background: $medium--yellow;
			color: black;
		}
	}


	&__subhead {
		background: $medium--yellow;
	}

	&__content {
		padding: 0px;

		ul {
			padding: 15px 0px;
		}

		li {
			padding: 2px 15px;
		}

		&--split--left {
			background: $light--yellow;
		}

		&--split--right {
			background: $light--yellow;
			text-align: right;
		}

		&--split--middle {
			background: $dark--yellow;
			color: white;
			text-align: center;
			font-family: "Montserrat";
		}

		&__vs {
			text-align: center;
			margin-top: 60px;
			height: 70px;
		}

	}

	&__list--rank {@include span-columns(0.5 of 4);}
	&__list--team {@include span-columns(2.25 of 4);}
	&__list--score {@include span-columns(0.75 of 4);}
	&__list--points {@include span-columns(0.5 of 4);}
}
