.Box {
	&__head {
		@include display(flex);
		width: 100%;

		&__icon {
			@include flex(0 0 75px);

			&--team {
				//background: red;

				@include display(flex);
				@include align-items(center);
				@include justify-content(center);

				position: relative;

				&:after {
					content: "";
					position: absolute;
					width: 1px;
					height: 49px;
					background: #8c8c8c;
					top: 13px;
					right: 0;
				}

				IMG {
					max-width: 50px;
					max-height: 50px;
				}
			}
		}

		&__text {
			@include flex(1 1 100%);
			font-family: 'Montserrat';
			font-size: 24px;
			line-height: 75px;
			letter-spacing: -1.5px;
			padding-left: 20px;

			SPAN {
	      		font-size: 1rem;
	    	}
		}

		&__toggle {
			@include display(flex);
			@include align-self(stretch);
			//background: red;

			A {
				@include display(flex);
				color: darken($medium--grey, 20%);
				
				//background: red;)
				position: relative;
				padding: 0 20px;

				transition: all .1s ease;

				SPAN {
					@include align-self(center);
					font-family: 'Montserrat';
					font-size: 24px;
					line-height: 75px;
					letter-spacing: -1.5px;
				}

				&.active {
					color: white;
               	 	background: $dark--blue;
               	 	transition: all .2s ease;
				}

				&:hover {
					background: $light--blue;
					color: white;
					transition: all .2s ease;
				}
			}
		}
	}

	&__subhead {
		@include default_fonts();
		font-size: 16px;
		padding: 15px 20px;
		height: 50px;
	}

	&__rows {
		
  		height: 150px;
		padding: 2.5px;
		text-align: center;
		@include display(flex);

		A {
			@include flex(1 1 100%);
			@include display(flex);
			@include align-items(center);
			@include justify-content(center);
			height: 145px;

			background: $medium--grey;
			font-family: "Montserrat";
			font-size: 24px;
			letter-spacing: -1.5px;

    		color: darken($medium--grey, 40%);
    		transition: background .15s ease, color .15s;

    		&:hover {
				background: $light--blue;
				transition: background .25s ease, color .15s;
				color: white;
			}
		}
	}

	&__content {
		padding: 20px;
		line-height: 1.32;

		UL {
			@include display(flex);
			//@include justify-content(space-between);
			@include flex-wrap(wrap);

			& > LI {
				@include flex(1 1 percentage(1/3));
			}
		}
	}

	&__content--split--left {
		@include span-columns(2.5 of 6);
		@include omega();
	}

	&__content--split--right {
		@include span-columns(2.5 of 6);
		@include omega();
	}

	&__content--split--middle {
		@include span-columns(1 of 6);
		@include omega();
		text-align: center;
	}
}

@media screen and (max-width: 960px) {
	.Box {
		&__rows {
			@include span-columns(6 of 12);
	  		@include omega(2n);
		}
	}
}

@media screen and (max-width: 480px) {
	.Box {
		&__head--toggle {

		@include fill-parent();
		@include row(table);

		&__icon {
			@include span-columns(1.5);
		}

		&__text {
			@include span-columns(4.5);


		}

		&__select {
			@include span-columns(6);

			@include reset-display;
		}
	}
	}
}


