.Box {
	&__head {
		/*
		@include fill-parent();
		@include row(table);

		&__icon {
			@include span-columns(1.5);
			line-height: 75px;
		}

		&__text {
			@include span-columns(10.5);
			@include reset-display; 
			font-family: 'Montserrat';
			font-size: 24px;
			line-height: 75px;
			letter-spacing: -1.5px;
		}*/


		@include display(flex);
		width: 100%;

		&__icon {
			@include flex(0 0 75px);
		}

		&__text {
			@include flex(1 1 100%);
			font-family: 'Montserrat';
			font-size: 24px;
			line-height: 75px;
			letter-spacing: -1.5px;
		}
	}

	&__head--toggle {

		@include fill-parent();
		@include row(table);

		&__icon {
			@include span-columns(1.5);
			line-height: 75px;
		}

		&__text {
			@include span-columns(4.5);
			font-family: 'Montserrat';
			font-size: 24px;
			line-height: 75px;
			letter-spacing: -1.5px;
		}

		&__select {
			@include span-columns(6);
			@include reset-display;
			text-align: right;

			li:last-of-type {
				margin-right: 20px;
			}

            li {
              display: inline-block;
              &.active, &.active a {
                color: white;
                background: $dark--blue;
              }
            }

			a {
				font-family: 'Montserrat';
				color: darken($medium--grey, 40%);
				font-size: 24px;
				line-height: 75px;
				padding: 10px;
				letter-spacing: -1.5px;
                display: inline-block;
                height: 100%;
                width: 100%;
			}
			
			li:hover {
				color: white;
				background: $medium--blue;
			}
		
		}
	}


	&__subhead {
	font-size: 16px;
	padding: 15px 20px;
	height: 50px;
	font-family: 'PTBoldItalic';
	
	}

	&__rows {

		background: $medium--grey;

		@include span-columns(3 of 12);
  		@include omega(4n);
  		margin-bottom: 5px;
  		height: 150px;
		padding: 10px;
		text-align: center;

		display: table;

		a {
			font-family: "Montserrat";
			font-size: 24px;
			letter-spacing: -1.5px;

			display: table-cell;
    		vertical-align: middle;

    		color: darken($medium--grey, 40%);

			&:hover {
				color: white;
			}

		}

		&:hover {
			background: $light--blue;
		}

	}

	&__content {
		padding: 15px 20px 5px 20px;
		line-height: 1.32;
	}

	&__content--split--left {
		@include span-columns(2.5 of 6);
		@include omega();
	}

	&__content--split--right {
		@include span-columns(2.5 of 6);
		@include omega();
	}

	&__content--split--middle {
		@include span-columns(1 of 6);
		@include omega();
		text-align: center;
	}
}

@media screen and (max-width: 960px) {
	.Box {
		&__rows {
			@include span-columns(6 of 12);
	  		@include omega(2n);
		}
	}
}

@media screen and (max-width: 480px) {
	.Box {
		&__head--toggle {

		@include fill-parent();
		@include row(table);

		&__icon {
			@include span-columns(1.5);
		}

		&__text {
			@include span-columns(4.5);


		}

		&__select {
			@include span-columns(6);

			@include reset-display;
		}
	}
	}
}


