

@font-face {
  font-family: 'MontserratBold';
  src: url('../font/Montserrat-Bold.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'Montserrat';
  src: url('../font/Montserrat.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'PTRegular';
  src: url('../font/PT_Serif-Web-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
}

@font-face {
  font-family: 'PTBoldItalic';
  src: url('../font/PT_Serif-Web-BoldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
}


