.Footer {
  background: $light--black;
  margin-top: $universal-dis;

  @include fill-parent();

  &__container {
    @include display(flex);
    // @include align-items(center);

    @include outer-container();

    color: darken(white, 40%);
    @include default_fonts();

  }

  &--bottom {
    margin-top: 0;
    background: lighten(black, 20%);

    padding: 20px;
    line-height: 100px;
    vertical-align: middle;

    .Box__content {
      font-size: 16px;
    }
    A {
      padding: 0 5px;
      & + A {
        margin-left: 40px;
      }
    }
  }

  &__block {
    @include flex(1 1 100%);

    &:first-of-type {
      text-align: left;
    }
    &:nth-of-type(2) {
      text-align: center;
    }
    &:last-of-type {
      text-align: right;
    }
  }

  &__content {
    line-height: 1.5;
    H6 {
      font-size: 16px;
      &:last-of-type {
        margin-bottom: 20px;
      }
    }
    H5, H6 {
      font-family: "Montserrat";
    }
    SVG {
      max-height: 30px;
      max-width: 30px;
    }
    &__icon_link {
      display: inline-block;
      margin-left: 30px;
    }

    & A:not(&__icon_link) {
      border-bottom: 3px solid $light--blue;
      color: $light--blue;

      &:hover {
        background: $light--blue;
        color: white;
      }
    }
  }

  &__years {
    padding: 15px 0;
    font-family: "Montserrat";

    NAV {
      margin: 20px 0;
      padding: 20px 0 0;
      position: relative;
      text-align: center;

      @include display(flex);
      @include align-items(center);

      &:before {
        width: 80%;
        height: 3px;
        content: '';
        background-color: $dark--grey;
        position: absolute;
        bottom: calc(100% - 27px);
        left: 10%;
      }
    }
    A {
      position: relative;
      display: inline-block;
      @include flex(1 1 100%);
      margin-top: 20px;
      padding-top: 20px;

      color: $dark--grey;
      font-size: 16px;
      &:before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: calc(50% - 15px);
        width: 30px;
        height: 30px;
        border-radius: 100%;
        border: 3px solid $dark--grey;
        background: $light--black;
      }
      &.active, &:hover {
        color: white;
        &:before {
          background: $light--blue;
          border-color: white;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .Footer {
    &__container {
      // @include flex-direction(column);
      @include flex-wrap(wrap);
    }
    &__block {
      &:first-of-type, &:last-of-type {
        @include order(1);
        @include flex-basis(50%);
      }
      &:nth-of-type(2) {
        @include order(2);
      }
    }
    &--bottom {
      .Footer__container {
        @include flex-direction(column);
      }
      .Footer__block {
        @include flex-basis(100%);
      }
    }
  }
}