.Footer {
	background: $light--black;
	margin-top: $universal-dis;

	color: darken(white, 40%);
	font-family: "Montserrat";

	@include span-columns(12);

	@include fill-parent();
	@include row(table);

	border-bottom: 2px solid black;

	&__block {
		@include span-columns(4);
	}
	
	&__subhead {
		padding: 15px 20px;
		height: 50px;
		background: lighten( black, 20%);
	}

	&__content {
		
		line-height: 1.5;

		a {
			border-bottom: 3px solid $light--blue;
			color: $light--blue;

			&:hover {
				background: $light--blue;
				color: white;
			}

		}
	}

}

@media screen and (max-width: 768px) {
	.Footer {

		&__block {
			@include span-columns(12);
		}
	}
}