.Header {
	@include span-columns(12);

	background: $light--blue;
	height: 120px;
	font-family: 'MontserratBold';
	font-size: 15px;
	
	&__logo {
		@include span-columns(2 of 12);
		@include omega();

		background: $dark--blue;
		height: 120px;
		&__image {
			max-width: 140px;
			width: 70%;
			margin-left: 15%;
			margin-top: 7%;
		}
	}

	&__toggle {
		@include span-columns(1.5 of 12);

        font-size: 0;
		border: 2px solid $dark--blue;
		height: 100%;
		text-transform: uppercase;
        position: relative;

		&__anchor {
            font-size: 13px;
            display: block;
            height: 50%;
            color: $dark--blue;
            padding: 22px 45px;

			&:hover {
				background: white;
                color: $dark--blue;
			}

			&--active {
				background: $dark--blue;
                color: white;
			}
		}
	}

	&__nav {

	@include span-columns(7 of 12);
	@include shift(1);

	margin-top: 10px;
	height: 100px;
	text-transform: lowercase;

		li {
			@include span-columns(7/8 of 7);
			margin-top: 15px;
			height: 70px;
			text-align: center;

			&:hover {
				background: white;
				color: red;
			}

			a {
				line-height: 70px;
				color: white;
				&:hover {
					color: $light--blue;
				}
			}
		}


	}



}

.Header__nav {
    float: left;
    display: block;
    margin-right: 0.35211%;
    width: -0.35211%;
    float: right;
    width: 650px;
    height: 100px;
    margin-top: 10px;
    font-size: 14px; }
    .Header__nav:last-child {
      margin-right: 0; }
    @media screen and (max-width: 960px) {
      .Header__nav {
        float: left;
        display: block;
        margin-right: 0.35211%;
        width: 100%;
        margin-top: 0px;
        background: #4180ff; }
        .Header__nav:last-child {
          margin-right: 0; } }
    .Header__nav a {
      line-height: 85px;
      color: white;
      margin-top: 5px;
      margin-left: 5px;
      }
      .Header__nav a li {
        float: left;
        display: block;
        margin-right: 0.35211%;
        width: -0.35211%;
        width: 87px;
        height: 85px;
        text-align: center;
        margin-top: 7.5px; 
        transition: 0.1s background ease-in;
      }
      .Header__nav a li:hover {
        transition: 0.5s background ease-out; 
        background: white;
        color: #4180ff;
      }
        .Header__nav a li:last-child {
          margin-right: 0; }
      .Header__nav a:hover {
        background: white;
        color: #4180ff; }
