.Table {
	
	width: 100%;

	&__content {
		padding: 0;
	}

	thead {
		color: white;
		text-align: center;

		th {
			padding: 15px 0;
		}

	}

	tbody {
		text-align: center;
		
		tr:nth-child(odd) {
			background: $medium--grey;
		}

		tr {
			&:hover {
				background: $light--blue;
				color: white;
			}

			td {
				border-bottom: 2px solid $dark--grey;
				padding: 10px 0;
			}
		}
	}
}

.Table__matches {
	thead {
		th:nth-of-type(1) {width: 25%;}
		th:nth-of-type(2) {width: 10%;}
		th:nth-of-type(3) {width: 25%;}
		th:nth-of-type(4) {width: 10%;}
		th:nth-of-type(5) {width: 10%;}
	}

	&--win {
		background: lighten(green, 5%)!important;
		color: white;
	}

	&--loss {
		background: lighten(red, 15%)!important;
		color: white;
	}

	&--draw {
		background: $dark--blue!important;
		color: white;
	}
}

.Table__standings {
	thead {
		th:nth-of-type(1) {width: 15%;}
		th:nth-of-type(2) {width: 30%; text-align: left;}
		th:nth-of-type(3) {width: 6%;}
		th:nth-of-type(4) {width: 6%;}
		th:nth-of-type(5) {width: 6%;}
		th:nth-of-type(6) {width: 6%;}
		th:nth-of-type(7) {width: 6%;}
		th:nth-of-type(8) {width: 6%;}
		th:nth-of-type(9) {width: 6%;}
	}
	tbody {
		// td:nth-of-type(1) {width: 5%;}
		td:nth-of-type(2) {text-align: left;}
		// td:nth-of-type(3) {width: 5%;}
		// td:nth-of-type(4) {width: 5%;}
		// td:nth-of-type(5) {width: 5%;}
		// td:nth-of-type(6) {width: 5%;}
		// td:nth-of-type(7) {width: 5%;}
		// td:nth-of-type(8) {width: 5%;}
		// td:nth-of-type(9) {width: 5%;}
	}
}

.Table__detail {

	width: 100%;

	thead {
		th {
			width: 25%;
		}
	}
	tbody {

		td {
			font-size: 50px;
			font-family: "Montserrat";
		}

		td {
			width: 25%;
			text-align: center;
		}
	}
}

@media screen and (max-width: 480px) {
	.Table__standings thead th:nth-child(n+6), .Table__standings tbody tr td:nth-child(n+6) {
		display: none;
	}

	.Table__matches thead th:nth-child(n+4), .Table__matches tbody tr td:nth-child(n+4) {
		display: none;
	}

	.Table__detail {
		tbody {

			td {
				font-size: 40px;
				font-family: "Montserrat";
			}
		}
	}

}