.Table {

	&__content {
		padding: 0;
	}

	width: 100%;
	thead {
		color: white;
		text-align: center;
	}

	tbody {
		text-align: center;
		
		tr:nth-child(odd) {
			background: $medium--grey;
		}

		tr {
			&:hover {
				background: $light--blue;
				color: white;
			}

			td {
				border-bottom: 2px solid $dark--grey;
				padding: 10px 0;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.Table thead th:nth-child(n+4), .Table tbody tr td:nth-child(n+4) {
		display: none;
	}
}