.Photo {
	&__row {
	    padding: 0;
	    margin: 0;
	    list-style: none;

	    @include display(flex);
	    @include justify-content(space-around);
	}

	&__item {
		@include flex(1 0 auto);
	    margin: 5px;
	    position: relative;
	    height: auto;

	    IMG {
	    	position: absolute;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
	    }

	    &:before {
	    	content:'';
	    	float: left;
	    	padding-top: 100%;
	    }
	}
}	