.Sponsors {

	&__images {
		@include span-columns(3 of 12);
  		@include omega(4n);
  		height: 100px;
  		background: red;
  		margin-bottom: 5px;
	}

	&__sprite {
		width: 20px;
		height: 20px;
		background: url("../img/icons.png") -50px 0;
	}

} 