.Sponsors {
  &__wrapper {
    @include outer-container();
    H2 {
      text-align: center;
      font-variant-caps: all-petite-caps;
      font-family: "Montserrat";
      color: $dark--grey;
      margin: 3em 0 0;
      padding: 0 0 2em;
      font-size: 32px;
      border-bottom: 1px solid $dark--grey;
    }
  }

  &__list {
    text-align: center;
    padding: 40px 0;
    SPAN {
      display: inline-block;
      margin: 10px;
    }
  }

  .s-11 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -150px -0;
  }

  .s-10 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -0 -300px;
  }

  .s-9 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -0 -150px;
  }

  .s-8 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -150px -150px;
  }

  .s-7 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -300px -0;
  }

  .s-6 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -300px -150px;
  }

  .s-5 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -0 -0;
  }

  .s-4 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -150px -300px;
  }

  .s-3 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -300px -300px;
  }

  .s-2 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -450px -0;
  }

  .s-1 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -450px -150px;
  }

  .s-0 {
    width: 150px;
    height: 150px;
    background: url('../img/sprites.png') -450px -300px;
  }
}


