.Table {
	&__head {

		&__icon {
			background: $medium--grey;
		}

		&__text {
			background: $medium--grey;
			color: white;
		}
	}

	&__heading {
	}

	&__date {


	}

	&__content {
	}
}

table {
	border-collapse: collapse;
	width: 100%;
	color: white!important;
	
	thead {
		background: green;
		tr {
			height: 50px;
			background: $dark--grey;
			
			.th--hover {
				background: #666;
			}

			th {
				line-height: 50px;
			}
		}
	}

	tbody {

		tr {

			td {
				padding: 15px;
				font-size: 18px;
			}

			td:first-child {
				width: 45%;
				background: #777;
			}

			td:nth-child(2) {
				width: 10%;
				background: $medium--grey;
				font-family: "Montserrat";
			}

			td:last-child {
				width: 45%;
				text-align: right;
			}
		}
	}
}