.Team {
  &__content {
    ul {
      li {

        .heading {
          font-family: "PTBoldItalic";
          font-size: 16px;
        }

        .text {
          font-family: "Montserrat";
          font-size: 70px;
        }

      }
    }

    .Table tbody tr {
      background: $light--grey; // !important;

      td {
        a {
          padding-top: 0px;
          font-size: 22px;
        }
      }

    }

    .Table tbody tr:hover {
      color: black;
    }

  }

  &__Text {
    background: red;
  }
}