.Team {
	&__rows {
		background: $medium--grey;
		height: 150px;
		

		a {
			font-family: "Montserrat";
			font-size: 28px;
			letter-spacing: -1.5px;
			margin-top: 20px;
			color: darken($medium--grey, 40%);
		}	
	}

	&__content {
		ul {

			li {		
				@include span-columns(3);
	  			@include omega(4n);

				.heading {
					font-family: "PTBoldItalic";
					font-size: 16px;
				}

				.text {
					font-family: "Montserrat";
					font-size: 70px;
				}

	  		}	
		}
	}

	&__heading {

	}

	&__Text {
		background: red;
	}
}