/**
 * Color Variables
 */

	/**
	 * Blue
	 */

	$light--blue: #4180ff;
	$medium--blue: #666666;
	$dark--blue: #0043c9;

	/**
	 * Yellow
	 */

	$dark--yellow: #e0be00; 
	$medium--yellow: #ffd800;
	$light--yellow: #fce252;

	/**
	 * Grey
	 */

	
	$dark--grey: #929292; 
	$medium--grey: #bababa;
	$light--grey: #e1e1e1;

/**
 * Measure variables
 */

$universal-dis: 4px; 