/**
 * Color Variables
 */

	/**
	 * Blue
	 */

	$light--blue: #4180ff;
	$medium--blue: darken($light--blue, 10%);
	$dark--blue: darken($light--blue, 25%);

	/**
	 * Yellow
	 */

	$medium--yellow: #ffd800;
	$dark--yellow: darken($medium--yellow, 4%); 
	$light--yellow: lighten($medium--yellow, 15%);

	/**
	 * Grey
	 */

	
	$dark--grey: #929292; 
	$light--grey: #e1e1e1;
	$medium--grey: darken($light--grey, 10%);
	
	/**
	 * Black
	 */

	$light--black: #4A4A4A; 


/**
 * Measure variables
 */

$universal-dis: 12px; 