/**
 * Color Variables
 */

	/**
	 * Blue
	 */

	$light--blue: #4180ff;
	$medium--blue: darken($light--blue, 10%);
	$dark--blue: darken($light--blue, 25%);

	/**
	 * Yellow
	 */

	$medium--yellow: lighten(#e8c400, 5%);
	$dark--yellow: lighten(#cdab00, 8%); 
	$light--yellow: lighten(#ffd800, 10%);

	/**
	 * Grey
	 */

	
	$dark--grey: #a09f9f; 
	$light--grey: #e1e1e1;
	$medium--grey: darken($light--grey, 10%);
	
	/**
	 * Black
	 */

	$light--black: #4A4A4A; 


/**
 * Measure variables
 */

$universal-dis: 8px; 