/**
 * Import Variables
 */
@import "reset";
@import "_var";
@import "_font-face";


/**
 * Import Bourbon and Neat
 */

@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";

/**
 * Import Components
 */

@import "_Box";
@import "_Header";
@import "_Article";
@import "_Sponsors";
@import "_Aside";
@import "_Section";
@import "_Footer";
@import "_Cover";
@import "_Team";
@import "_Matches";


body {
	@include outer-container();
	height: 100%;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
}