/**
 * Mixins
 */
@mixin default_fonts() {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/**
 * Import Variables
 */
@import "reset";
@import "var";
@import "font-face";
/**
 * Import Bourbon, Neat an Chartist
 */
@import "bourbon/bourbon";
@import "grid-settings";
@import "neat/neat";
@import "chartist/chartist";
/**
 * Import Components
 */
@import "Box";
@import "Header";
@import "Article";
@import "Live";
@import "Sponsors";
@import "Aside";
@import "Section";
@import "Footer";
@import "Cover";
@import "Team";
@import "Matches";
@import "MatchDetail";
@import "Photo";

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
    @include outer-container();
}

// TODO: move to right partials file
// required by tabs in full list of matches
.tab-content > .tab-pane {
  display: none;
  visibility: hidden;
}

.tab-content > .active {
  display: block;
  visibility: visible;
}