<div id="info" n:if="!$category->year->actual">
    <a n:href="changeYear! year => $actualYear->id">
        <div class="iconBlock">!</div>
        <div class="textBlock">
            <h2>Upozornění</h2>

            <h3>Zobrazena jsou archivní data, klikni pro zobrazení aktuálního ročníku!</h3>
        </div>
    </a>
</div>