<nav>
    <a
            n:foreach="$years as $_year"
            n:href="changeYear! year => $_year->id"
            n:class="$_year->id == $category->year->id ? active"
    >
        {$_year->year}
    </a>
</nav>