<!DOCTYPE html>
<html>
    <head>
        <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
        <script src="{$basePath}/js/nette.forms.js"></script>
        <script src="{$basePath}/js/nette.ajax.js"></script>


        
    </head>
    <body>
        <div n:foreach="$flashes as $flash" n:if="$flashes" class="flash {$flash->message}">{$flash->message}</div>
        <h2>admin @layout</h2>
        <h3 n:if="$user->loggedIn" style="float: right;">
            přihlášen jako {$user->identity->fullname} <br />
            <a n:href=":Sign:out">Odhlásit se</a>
        </h3>

        <strong>
            {block content}{/}
        </strong>
    </body>
</html>
