{extends '../../templates/@baseLayout.latte'}
{block body}
    <h2>admin @layout</h2>
    <h3 style="float: right;">
        {control loginForm}
    </h3>
    <strong>
        {block content}{/}
    </strong>
{/}
