{layout @layout.latte}
{block content}
    <h1 n:block=title>Stránka nenalezena</h1>
    <p>Požadovaná stránka byla z webu odebrána. Omlouváme se za způsobené nepříjemnosti.</p>
    <small>error 410</small>
{/block}
