<div class="component">
    <table class="table">
        <tr>
            <th>id</th>
            <th>jméno</th>
        </tr>
        {foreach $teams as $team}
            <tr>
                <td>{$team->id}</td>
                <td><a href="{plink detail $category, $team}">{$team->name}</a></td>
            </tr>
        {/foreach}
    </table>
</div>