<script n:syntax="double">
    jQuery(function ($) {
        $.ajax({{link data!}}).success(function (response) {
            renderCategoryHistory(response, {{$category->teams|length}}, '.category-history-chart');
        });
    });
</script>
<div class="ct-chart category-history-chart ct-golden-section"></div>
