<a n:foreach="$categories as $_category"
   n:class="Header__toggle__anchor, $selectedCategory && $_category->id == $selectedCategory->id ? 'header__top__toggle--active'"
        {if $selectedCategory && $_category->id != $selectedCategory->id} href={link changeCategory! $_category->id} {/if}> <span>{$_category->name}</span>
</a>