<a n:foreach="$categories as $_category"
   n:class="Header__toggle__anchor, $_category->id == $selectedCategory->id ? 'Header__toggle__anchor--active'"
        {if $_category->id != $selectedCategory->id} href={link changeCategory! $_category->slug} {/if}>{$_category->name}
</a>