<a n:foreach="$categories as $_category"
   n:class="
   		Header__toggle__anchor, 
   		$selectedCategory->id == 11 ? 'header__top__toggle--younger' : 'header__top__toggle--older',
   		$selectedCategory && $_category->id == $selectedCategory->id ? 'header__top__toggle--active'
   		"
        {if $selectedCategory && $_category->id != $selectedCategory->id} href={link changeCategory! $_category->id} {/if}> 

        {*{php echo $_category->id}*}

        <span>{$_category->name}</span>
</a>

