<div n:foreach="$categories as $category" n:class="Header__toggle__anchor, $category->id == $selectedCategory->id ? 'Header__toggle__anchor--active'">
    <a {if $category->id != $selectedCategory->id} href={link changeCategory! $category->slug} {/}>{$category->name}</a>
</div>