<div n:foreach="$categories as $category" n:class="Header__toggle__anchor, $category->id == $selectedCategory->id ? 'Header__toggle__anchor--active'">
    <a n:href="changeCategory! $category->slug">{$category->name}</a>
</div>