<div class="component">
{*     {if !$user->loggedIn}
        {control loginForm}
    {else}
        <a n:href="logOut!">Odhlásit</a>
    {/if} *}
        <a href={plink ':Admin:Homepage:'}>Administrace</a>
</div>