{form newsForm}
    <div class="form-group">
        {label title /}
        {input title class=>"form-control"}
    </div>
    <div class="form-group">
        {label content /}
        {input content class=>"form-control"}
    </div>
    <div class="form-group">
        {input submit class=>"form-control btn btn-primary"}
    </div>
{/form}