<div class="photo-list" n:snippet="photos" data-more-link="{link show! $step+$actual}">
    {foreach $photos as $photo}
        {first 3}
            <div class="Photo__row">
        {/first}
        <a href="{plink :Media:medium $photo->filename}?2017" data-id="{$photo->id}"
           title="{$iterator->counter}. z {$photos|length}" class="swipebox Photo__item">
            <img src="{$basePath}/assets/sample_thumb.png" alt="Foto">
        </a>
        {last 3}
            </div>
        {/last}
    {/foreach}
    <script n:syntax="double">
        jQuery(function ($) {
            $('a.swipebox').click(function (e) {
                var i = $('.Photo__rows').children().index(this);
                $.ajax({{link all!}}).then(function (data) {
                    $.swipebox(data, {
                        initialIndexOnArray: i,
                        useSVG: false
                    });
                });
                e.preventDefault();
            });
        });
    </script>


    {if !$photos}
        <div class="Article__content">
            <p>Žádné fotky k zobrazení.</p>
        </div>
    {elseif $actual && $actual < $max}
        <div class="Article__more">
            <a class="show-more ajax" n:href="show! $step+$actual">Zobrazit více!</a>
        </div>
    {/if}
</div>
