<div
        data-upload-url="{link upload!}"
        data-photos-url="{link getPhotos!}"
        data-update-tags-url="{link updateTags!}"
        data-insert-photos-url="{link insertPhotos!}"
        data-delete-photos-url="{link deletePhotos!}"
        data-upload-id="{$uploadId}"
>

    <div id="admin-photo-put"></div>
</div>
<script src="{$basePath}/assets/build/AdminPhotoPut.build.js" async defer></script>