{foreach $photos as $photo}
    <a href={plink :Media:medium $photo->filename}><img src="{plink :Media:small $photo->filename}" alt=""></a>
{/foreach}
{if !$photos}
    <p>Žádné fotky k zobrazení.</p>
{/if}

<script>
    jQuery(function ($) {

    });
</script>