<div
        data-photos-url="{link getPhotos!}"
        data-update-tags-url="{link updateTags!}"
        data-insert-photos-url="{link insertPhotos!}"
        data-teams-url="{link teams!}"
        data-add-team-tag-url="{link addTeamTag!}"
        data-upload-id="{$uploadId}"
>

    <div id="admin-team-tagger"></div>
</div>
<script src="{$basePath}/assets/build/AdminPhotoTeamTagger.build.js" async defer></script>