<div
        data-upload-url="{link upload!}"
        data-photos-url="{link getPhotos!}"
        data-upload-id="{$uploadId}"
>

    <div id="admin-photo-put"></div>
</div>
<script src="{$basePath}/assets/build/AdminPhotoPut.build.js"></script>