<div id="upload-dropper" data-upload-id={$uploadId} data-upload-link={link upload!}></div>
<ul n:snippet="photos">
    <li n:foreach="$photos as $photo" data-id={$photo->id}><img src="{$basePath}/upload/photos/{$photo->filename}"></li>
</ul>