<script>
    jQuery(function ($) {
        $.ajax({link data!}).success(function (response) {
            renderSingleTeamHistoryChart('.ct-chart', response, {$team->category->teams|length});
        });
    });
</script>
<div class="ct-chart ct-golden-section"></div>
<style>
    .ct-label.ct-horizontal {
        transform: rotate(0deg) translate(0px, 0px);

    }
</style>
