<div class="component">
    <h2>{$control->name}</h2>
    id: {$team->id} <br>
    jméno: {$team->name} <br>
    slug: {$team->slug} <br>
    pořadí: {$team->order}<br>
    počet zápasů: {$team->matches|length}<br>
    kategorie: {$team->category->name}<br>
    vstřelené: {$team->scored}<br>
    obdržené: {$team->received}<br>
    body: {$team->points}<br>
    <h3>zápasy</h3>
    {control listOfMatchesComponent}
</div>