{block content}
    <div class="col-md-9">
        <h1 n:block="title">Přehled tagů</h1>
        {control tagsGrid}
    </div>
    <div class="col-md-3" style="padding-top: 40px">{control tagFormComponent}</div>
{/block}