{block content}
    <a class="btn btn-primary btn-block btn-lg" n:href="tags">Zpět na přehled tagů</a>
    {control tagFormComponent}
{/block}
{block title}{if $tag}Detail tagu {$tag->name}{else}Nový tag{/if}{/block}