{block content}
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            <a class="btn btn-primary btn-block btn-lg" n:href="photos">Zpět na přehled fotek</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-push-3">
            {control photoEditComponent}
        </div>
    </div>
{/block}