{block content}
    <div class="btn-toolbar">
        <a class="btn btn-danger ajax btn-block btn-lg" n:href="deleteAllEntityCaches!">Smazat všechny cache závislé na entitách</a>
        <a class="btn btn-danger ajax btn-block btn-lg" n:href="deleteAllCachedPhoto!">Smazat všechny vygenerováné formáty fotek v aplikaci</a>
    </div>
{/block}