{block content}
    <h1 n:block="title">Přehled týmů pro {$category->name}</h1>
    <div class="alert alert-info">Použij <strong>Ctrl + dvojklik</strong> pro editaci. <strong>Enter</strong> poté pro
        potvrzení.
    </div>
    {control matchesGridComponent}
{/block}