{block content}
    <div class="row">
        <div class="col-md-8">
            <h2>Uživatelé</h2>
            {control userGrid}
        </div>
        <div class="col-md-4">
            <h2>Přidat uživatele</h2>
            {control userForm}
        </div>
    </div>
{/block}