#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
services:
    authorizator:
        class: Nette\Security\Permission
        setup:
            - addRole('guest')
            - addRole('moderator', 'guest')
            - addRole('admin', 'moderator')

            - addResource('users') # TODO resources
            - addResource('online')

            - allow('moderator', 'users', 'view')
            - allow('moderator', 'online', 'write')
            - allow('admin')