services:
    authorizator:
        class: Nette\Security\Permission
        setup:
            - addRole('guest')
            - addRole('moderator', 'guest')
            - addRole('admin', 'moderator')

            - addResource('users') # TODO resources
            - addResource('online-reports')
            - addResource('teams')
            - addResource('migrations')

            - allow('moderator', 'users', 'view')
            - allow('moderator', 'online-reports', 'write')
            - allow('moderator', 'teams', 'edit')
            - allow('admin')