php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: Minicup\*Module\Presenters\*Presenter
	debugger:
		bar:
			- JanDrabek\Tracy\GitVersionPanel
			- NetteExtras\XDebugHelper('PHPSTORM')
	session:
		expiration: 14 days
	latte:
	    macros:
	    - Nextras\Forms\Bridges\Latte\Macros\BS3InputMacros

includes:
        - config.ACL.neon

services:

        router: @Minicup\Router\RouterFactory::createRouter
        - Minicup\Router\RouterFactory
        - Minicup\Forms\IFormFactory
        - Nextras\Application\LinkFactory

        - Minicup\Model\Manager\UserManager
        - Minicup\Model\Manager\MigrationsManager
        - Minicup\Model\Manager\TeamReplicator
        - Minicup\Model\Manager\ReorderManager


		# lean mapper
        - LeanMapper\DefaultEntityFactory
        - Minicup\Model\Mapper('Minicup\Model\Entity')
        filters: Minicup\Model\Filters
        leanMapper.connection:
         setup:
          - registerFilter('matches', [@filters, 'joinAllMatches'], 'e')
          - registerFilter('info', [@filters, 'joinTeamInfo'])
          - registerFilter('actual', [@filters, 'actualTeams'])
          - registerFilter('ordered', [@filters, 'orderedTeams'])

        # repositories
        - Minicup\Model\Repository\MatchRepository
        - Minicup\Model\Repository\UserRepository
        - Minicup\Model\Repository\TeamRepository
        - Minicup\Model\Repository\TeamInfoRepository
        - Minicup\Model\Repository\OnlineReportRepository
        - Minicup\Model\Repository\MatchTermRepository
        - Minicup\Model\Repository\CategoryRepository
        - Minicup\Model\Repository\YearRepository
        - Minicup\Model\Repository\DayRepository
        - Minicup\Model\Repository\PhotoRepository
        
        # component factories
        - Minicup\Components\ICategoryTableComponentFactory
        - Minicup\Components\ILoginFormComponentFactory
        - Minicup\Components\IMigrateFormComponentFactory

        - Minicup\Components\ICategoryToggleFormComponentFactory
        - implement: Minicup\Components\IListOfTeamsComponentFactory
          parameters: [category]
          arguments: [%category%]
        - implement: Minicup\Components\IListOfMatchesComponentFactory
          parameters: [arg]
          arguments: [%arg%]
        - implement: Minicup\Components\IOnlineReportComponentFactory
          parameters: [match]
          arguments: [%match%]
        - implement: Minicup\Components\ITeamDetailComponentFactory
          parameters: [team]
          arguments: [%team%]

extensions:
        leanMapper: Minicup\Model\LeanMapperExtension
