php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: Minicup\*Module\Presenters\*Presenter
	debugger:
		bar:
			- JanDrabek\Tracy\GitVersionPanel
			- NetteExtras\XDebugHelper(PHPSTORM)
	session:
		expiration: 14 days
	latte:
	    macros:
	    - Nextras\Forms\Bridges\Latte\Macros\BS3InputMacros

includes:
        - config.ACL.neon

services:
        router: @Minicup\Router\RouterFactory::create
        texy: @Minicup\Misc\TexyFactory::create
        year: @Minicup\Model\Repository\YearRepository::getActualYear
        - Minicup\Router\RouterFactory
        - Minicup\Misc\IFormFactory
        - Nextras\Application\LinkFactory
        - Minicup\Misc\TexyFactory

        # application logic services
        - Minicup\Model\Manager\UserManager
        - Minicup\Model\Manager\MigrationsManager
        - Minicup\Model\Manager\TeamReplicator
        - Minicup\Model\Manager\ReorderManager
        - Minicup\Model\Manager\TeamDataRefresher
        - Minicup\Model\Manager\MatchManager

        # (s)css & js compiling
        - Minicup\Components\CssComponentFactory(%wwwDir%, %productionMode%)
        - Minicup\Components\JsComponentFactory(%wwwDir%, %productionMode%)

		# lean mapper
        - LeanMapper\DefaultEntityFactory
        - Minicup\Model\Mapper(Minicup\Model\Entity)
        filters: Minicup\Model\Filters

        leanMapper.connection:
            setup:
                - registerFilter(matches, [@filters, joinAllMatches], e)
                - registerFilter(info, [@filters, joinTeamInfo])
                - registerFilter(actual, [@filters, actualTeam])
                - registerFilter(ordered, [@filters, orderedTeams])
                - registerFilter(year, [@filters, yearRestrict])
                - registerFilter(confirmed, [@filters, confirmedMatch])

        # repositories
        - Minicup\Model\Repository\MatchRepository
        - Minicup\Model\Repository\UserRepository
        - Minicup\Model\Repository\TeamRepository
        - Minicup\Model\Repository\TeamInfoRepository
        - Minicup\Model\Repository\OnlineReportRepository
        - Minicup\Model\Repository\MatchTermRepository
        - Minicup\Model\Repository\YearRepository
        - Minicup\Model\Repository\PhotoRepository
        - Minicup\Model\Repository\StaticContentRepository
        - class: Minicup\Model\Repository\CategoryRepository
          setup: [injectYear(@year)]
        - class: Minicup\Model\Repository\DayRepository
          setup: [injectYear(@year)]
        
        # component factories
        - Minicup\Components\ICategoryTableComponentFactory
        - Minicup\Components\ILoginFormComponentFactory
        - Minicup\Components\IMigrateFormComponentFactory
        - implement: Minicup\Components\IMatchFormComponentFactory
          parameters: [Minicup\Model\Entity\Match match]
          arguments: [%match%]
        - implement: Minicup\Components\IStaticContentComponentFactory
          parameters: [Minicup\Model\Entity\StaticContent content]
          arguments: [%content%]

        - Minicup\Components\ICategoryToggleFormComponentFactory
        - implement: Minicup\Components\IListOfTeamsComponentFactory
          parameters: [Minicup\Model\Entity\Category category]
          arguments: [%category%]
        - implement: Minicup\Components\IListOfMatchesComponentFactory
          parameters: [arg]
          arguments: [%arg%]
        - implement: Minicup\Components\IOnlineReportComponentFactory
          parameters: [Minicup\Model\Entity\Match match]
          arguments: [%match%]
        - implement: Minicup\Components\ITeamDetailComponentFactory
          parameters: [Minicup\Model\Entity\Team team]
          arguments: [%team%]

extensions:
        leanMapper: Minicup\Model\LeanMapperExtension
