leanMapper:
    host:
    username:
    password:
    database:

tracy:
    editor:

di:
    debugger: no

session:
    debugger: no

application:
    debugger: no

# only for MigrationsManager!
database:
    dsn:
    user:
    password: