services:
    authorizator:
        class: Nette\Security\Permission
        setup:
            - addRole('guest')
            - addRole('moderator', 'guest')
            - addRole('admin', 'moderator')

            - addResource('user')
            - addResource('online-report')
            - addResource('static-content')
            - addResource('team')
            - addResource('migration')
            - addResource('tag')

            - allow('moderator', 'user', 'view')
            - allow('moderator', 'online-report', 'write')
            - allow('moderator', 'team', 'edit')
            - allow('moderator', 'tag', 'create')
            - allow('admin')