parameters:
    entityNS: 'Minicup\Model\Entity'
    days: [22-05-2015, 23-05-2015, 24-05-2015]

leanMapper:
    host: localhost
    username: root
    password: ''
    database: 'minicup-2015'
    lazy: true
    charset: utf8
    profiler: true

php:
	date.timezone: Europe/Prague

nette:
	application:
		errorPresenter: Error
		mapping:
			*: Minicup\*Module\Presenters\*Presenter

	session:
		expiration: 14 days
includes:
        - config.ACL.neon

services:
        - Minicup\Model\UserManager
        - Minicup\ParamService(@container::getParameters())
        - Minicup\RouterFactory
        router: @Minicup\RouterFactory::createRouter

        - LeanMapper\DefaultEntityFactory
        - Minicup\Model\Mapper(%entityNS%)

        # repositories
        - Minicup\Model\Repository\MatchRepository
        - Minicup\Model\Repository\UserRepository
        - Minicup\Model\Repository\TeamRepository
        - Minicup\Model\Repository\OnlineReportRepository
        - Minicup\Model\Repository\MatchTermRepository
        
        # component factories
        - Minicup\Components\ICategoryTableComponentFactory
        - Minicup\Components\ILoginFormComponentFactory
        - Minicup\Components\IListOfMatchesComponentFactory
        - implement: Minicup\Components\IOnlineReportComponentFactory
          parameters: [match]
          arguments: [%match%]

extensions:
        leanMapper: Minicup\Model\LeanMapperExtension
